SUPABASE_URL=https://kjxxhnznzueyiryomuhj.supabase.co   
SUPABASE_SERVICE_ROLE_KEY=sbp_YmYT2V29iH08gq44iGJ2LqQ6wOYyV6WJW184h31
RESEND_API_KEY=re_NjULepT2_BpUyfG6QLng4MnrkenWWA473
CONTACT_EMAIL_FROM=Portfolio Contact <gayle@zentariph.com>
